form {
    margin: auto;
    width: 500px;
    padding: 1em;
    border: 3px solid rgb(6, 33, 153);
    border-radius: 1em;
    background-color: rgb(129, 129, 143);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;

    width: 300px;
    box-sizing: border-box;

    border: 1px solid rgb(55, 157, 189);
  }
  
  input:focus,
  textarea:focus {
    border-color: rgb(36, 34, 34);
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: .5em;
  }